*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --mainColor: rgb(40,67,99)
}

header{
    background-color: var(--mainColor);
    display: flex;
    padding: 10px 100px;
    align-items: center;
}
.logo{
    display: flex;
    color: white;
    align-items: center;
}
.mainIcon{
    font-size: 2rem;
    color: white;
}
.searchbar {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 50px;
}
#search{
    width: 900px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.searchButton {
    position: absolute;
    top: 23%;
    right: 2%;
    font-size: 1.5rem;
    cursor: pointer;
}

.loginData{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    align-items: center;
    color: white;
}
.person {
    font-size: 1.8rem;
    color: white;
}

.favourites{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    color: white;
    align-items: center;
}
.heart{
    font-size: 1.5rem;

}

.cart{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    color: white;
    align-items: center;
}

.shoppingcart{
    font-size: 1.5rem;
}