 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }
 
 :root {
     --mainColor: rgb(10,87,99);
 
     --lightBg: #fff;
     --lightColor: #fff;
     --lightNav: rgb(165, 165, 165);
 
     --darkBg: #141414;
     --darkNav: #4e4e4e;
 }
 body{
     font-family: "Ubuntu", sans-serif;
 }
 
 
 header {
     background-color: var(--mainColor);
     display: flex;
     padding: 10px 100px;
     align-items: center;
 }
 
 .logo {
     display: flex;
     color: white;
     align-items: center;
     gap: 5px;
 }
 
 .mainIcon {
     font-size: 2rem;
     color: white;
 }
 
 .searchbar {
     display: flex;
     position: relative;
     align-items: center;
     margin-left: 50px;
 }
 
 #search {
     width: 900px;
     padding: 10px;
     border-radius: 20px;
     outline: none;
     border: none;
 }
 
 .searchButton {
     position: absolute;
     top: 15%;
     right: 2%;
     font-size: 1.5rem;
     cursor: pointer;
 }
 
 .loginData {
     display: flex;
     gap: 10px;
     align-items: center;
     color: white;
     position: relative;
 }
 
 .person {
     font-size: 1.8rem;
     color: white;
 }
 
 .favourites {
     display: flex;
     gap: 10px;
     margin-left: 50px;
     color: white;
     align-items: center;
     position: relative;
 }
 
 .heart {
     font-size: 1.5rem;
 
 }
 
 .cart {
     display: flex;
     gap: 10px;
     margin-left: 50px;
     color: white;
     align-items: center;
 }
 
 .shoppingcart {
     font-size: 1.5rem;
 }
 
 header h4 {
     cursor: pointer;
     ;
 }
 
 .arrowdown {
     font-size: .8rem;
     margin-bottom: -5px;
 }
 
 
 .LoginWindow {
     position: absolute;
     top: 110%;
     color: rgb(255, 255, 255);
     display: none;
     font-weight: bold;
     flex-direction: column;
     width: 280px;
     background-color: rgb(165, 165, 165);
     left: -10%;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 0 10px 1px black;
     animation: transitionInWindow .4s;
 }
 
 .arrowUp {
     text-align: center;
     font-size: 1.5rem;
     margin-top: -25px;
     color: rgb(165, 165, 165);
 }
 
 .login_window_Content {
     display: flex;
     margin-bottom: 10px;
 
 }
 
 .loginPerson {
     font-size: 2.1rem;
     margin-right: 15px;
 }
 
 .loginForm {
     display: flex;
     background-color: var(--mainColor);
     padding: 5px 10px;
     gap: 10px;
     border-radius: 20px;
     cursor: pointer;
     transition: background-color 0.2s;
 }
 
 .loginDiv {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 20px 20px 20px 50px;
 }
 
 /* login utáni ablak */
 
 .loginWindowAfter {
     position: absolute;
     top: 110%;
     color: rgb(255, 255, 255);
     display: none;
     font-weight: bold;
     flex-direction: column;
     width: 200px;
     background-color: rgb(165, 165, 165);
     left: 10%;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 0 10px 1px black;
     animation: transitionInWindow .4s;
     text-align: center;
 }
 
 .afterLoginContent {
     display: flex;
     flex-direction: column;
 }
 
 .afterLoginContent h3 {
     cursor: pointer;
     padding: 8px;
     transition: all .2s;
 }
 
 .logout {
     display: flex;
     gap: 10px;
     align-items: center;
     justify-content: center;
 }
 
 .logout i {
     font-size: 20px;
 }
 
 .logout:hover {
     background-color: gray;
     border-radius: 20px;
 }
 
 .exceptTheLasth3:hover {
     background-color: gray;
     border-radius: 20px;
 }
 
 
 .favouritesWindow {
     position: absolute;
     top: 210%;
     color: rgb(255, 255, 255);
     display: none;
     font-weight: bold;
     flex-direction: column;
     width: 230px;
     background-color: rgb(165, 165, 165);
     left: -30%;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 0 10px 1px black;
     animation: transitionInWindow .4s;
     text-align: center;
     font-size: 1rem;
 }
 
 .cart {
     position: relative;
 }
 
 .cartWindow {
     position: absolute;
     top: 210%;
     color: rgb(255, 255, 255);
     display: none;
     font-weight: bold;
     flex-direction: column;
     width: 200px;
     background-color: rgb(165, 165, 165);
     left: -50%;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 0 10px 1px black;
     animation: transitionInWindow .4s;
     text-align: center;
     font-size: 1rem;
 }
 
 .cartInclude {
     margin-top: 10px;
     display: flex;
     background-color: var(--mainColor);
     padding: 5px 10px;
     gap: 10px;
     border-radius: 20px;
     cursor: pointer;
     transition: background-color 0.2s;
 }
 
 
 
 @keyframes transitionInWindow {
     from {
         opacity: 0;
         transform: translateY(-20px);
     }
 
     to {
         opacity: 1;
         transform: translateY(0);
     }
 }
 
 .themeChange {
     display: none;
     background-color: rgb(78, 78, 78);
     width: 800px;
     margin: 40px auto;
     height: 450px;
     flex-direction: column;
     border-radius: 30px;
     padding: 50px;
     font-family: "Ubuntu", sans-serif;
     gap: 30px;
     position: relative;
     animation: transitionInWindow .4s;
 }
 
 .themeChange h1 {
     color: white;
     margin-left: 50px;
 }
 
 .themes {
     display: flex;
     gap: 20px;
     background-color: gray;
     justify-content: center;
     width: 600px;
     margin: 0 auto;
     border-radius: 20px;
     padding: 20px;
 }
 
 .themeLight {
     display: flex;
     font-size: 8rem;
     background-color: rgb(0, 0, 0);
     padding: 5px 20px;
     border-radius: 20px;
     cursor: pointer;
     align-items: center;
     color: white;
     flex-direction: column;
 }
 .themeLight p{
     font-size: 1.5rem;
     font-weight: bold;
 }
 .themeDark {
     align-items: center;
     display: flex;
     font-size: 8rem;
     background-color: rgb(0, 0, 0);
     border-radius: 20px;
     cursor: pointer;
     padding: 5px 20px;
     color: rgb(49, 49, 49);
 }
 .darkTdiv, .lightTdiv{
     display: flex;
     flex-direction: column;
     align-items: center;
     row-gap: 10px;
 }
 .themes p{
     font-size: 1.2rem;
 }
 
 .closeDiv {
     font-size: 2.2rem;
     margin: 0;
     padding: 0;
     display: flex;
     position: absolute;
     right: 2rem;
     top: 20px;
     cursor: pointer;
     transition: all .2s;
 }
 .closeDiv:hover{
     color: rgb(223, 31, 31);
 }
 
 .themeDark, .themeLight {
     transition: all .2s;
 }
 
 .themeLight:hover, .themeDark:hover{
     box-shadow: 0 0 10px 1px cyan;
 }
 
 @keyframes transitionOut {
     from {
         opacity: 1;
         transform: translateY(0);
     }   
 
     to {
         opacity: 0;
         transform: translateY(-20px);
     }
 }
 
 .settingsDiv{
     margin-top: 50px;
     left: 40%;
     position: absolute;
     display: flex;
     width: 500px;
     position: relative;
     flex-direction: column;
     
 }
 
 
 .settings{
     display: flex;
     height: 25rem;
     
 }
 
 .SleftSide {
     padding: 30px 0px;
     display: flex;
     flex-direction: column;
     background-color: rgb(160, 160, 160);
     font-size: 20px;
     border-radius: 20px 0 0 20px;
 }
 
 
 .SrightSide {
     padding: 40px 20px;
     display: flex;
     background-color: gray;
     border-radius: 0px 20px 20px 0px;
 }
 
 .topSettings{
     position: absolute;
     height: 20px;
     right: 0%;
     top: 0px;
 }
 
 .closeWindowSettings {
     font-size: 2rem;
     transition: all .2s;
     cursor: pointer;
 }
 
 .closeWindowSettings:hover {
     color: rgb(231, 7, 7);
 }
 .settings_a{
     padding: 12px;
     border-radius: 5px;
     cursor: pointer;
 }
 
 .settings_a:hover{
     background-color: rgb(202, 200, 200);
 }