* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(177, 177, 177);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(112, 112, 112);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(92, 92, 92);
}

:root {
    --mainColor: rgb(40, 67, 99)
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

.carouselSlide,
.carouselSlide img {
    height: 70vh;
    margin: 0px auto;

}

#carouselBg1,
#carouselBg2,
#carouselBg3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#carouselBg1 {
    background-image: url("./img/carousel1.jpg");
}

#carouselBg2 {
    background-image: url("./img/carousel2.jpg");
}

#carouselBg3 {
    background-image: url("./img/carousel3.jpg");
}

.productSlide {
    margin-top: 5rem;
}

.productSlideshow {
    width: 100%;
    padding: 1rem 0;
    height: 100%;
}

.sliderWrapper {
    position: relative;
}

.slideButton {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slideButton:hover {
    background: #404040;
}

#prevSlide {
    left: -25px;
}

#nextSlide {
    right: -25px;
}

.productList {
    display: grid;
    grid-template-columns: repeat(10, 10fr);
    gap: 1rem;
    font-size: 0;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 0;
    padding: 1rem 0;
}

.productText {
    text-align: center;
    margin-bottom: 2rem;
}

.productText h2 {
    letter-spacing: 2px;
    color: var(--mainColor);
    text-transform: uppercase;
}

.productCard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 20rem;
    border-radius: 1rem;
    cursor: pointer;
}

.productCardHeader {
    width: 100%;
    height: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.productCardHeader:hover {
    background-color: rgba(30, 30, 30, .4);
}

#productCardBg1,
#productCardBg2,
#productCardBg3,
#productCardBg4,
#productCardBg5,
#productCardBg6 {
    height: 100%;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    background-color: white;
}

.DJIBG {
    background-image: url(./img/DJI_1.png);
}

.XiaomiBG {
    background-image: url(./img/XIAOMI_1.png);
    background-size: 70% !important;
}

.TvBG {
    background-image: url(./img/TV_1.png);
}

.LaptopBG {
    background-image: url(./img/LAPTOP_1.png);
}

.RazerBG {
    background-image: url(./img/RAZER_1.webp);
    background-size: 70% !important;
}

.KeychronBG {
    background-image: url(./img/KEYCHRON_1.png);
}

.AppleBG {
    background-image: url(./img/APPLE_1.png);

}

.VisionBG {
    background-image: url(./img/VISION_2.png);
    background-size: 70% !important;
}

.productCard p{
    font-size: 1rem;
}



.productCardText {
    padding: .5rem 1rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem;
    height: 180px;
}


.productCardRating {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50px); 
}

.productCardRatingStars {
    margin-right: 1rem;
    font-size: 1rem;
}

.productCardRating h6 {
    margin: 0;
}

.productCardPrice {
    color: rgb(43, 201, 45);
    margin: 0;
}

.productCardBgHover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: all .3s;
}

.productCardBgHover:hover {
    background-color: rgba(42, 42, 42, 0.5);
}

.productShowoutDiv {
    background-color: rgba(0, 0, 0, 0.61);
    height: 201vh;
    width: 100vw;
    position: absolute;
    display: none;
    z-index: 100;
}

.productShowout {
    display: flex;
    width: 70vw;
    height: 85vh;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem;
    border-radius: 20px;
}

.productShowoutContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
}

.closeWindowProduct {
    position: absolute;
    z-index: 10;
    height: 20px;
    right: 20px;
    top: 10px;
}

#productShowoutExit {
    color: black;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;
}

#productShowoutExit:hover {
    color: red;
}

.leftPictures {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
}

.firstPic {
    position: relative;
    cursor: pointer;

}

.firstPic h1 {
    position: absolute;
    top: 35%;
    color: white;
    right: 45%;
}

.secondPic {
    position: relative;
    cursor: pointer;
}

.secondPic h1 {
    position: absolute;
    top: 35%;
    color: white;
    right: 45%;

}

.thirdPic {
    position: relative;
    cursor: pointer;
}

.thirdPic h1 {
    position: absolute;
    top: 35%;
    color: white;
    right: 45%;
}

.productPics {
    border-radius: 10px;
    transition: all .1s;
    background-color: rgba(14, 14, 14, 0.767);
}

.productPics:hover {
    box-shadow: 0 0 5px 2px rgb(68, 68, 68);
}

.productPics:active {
    scale: .98;
}

.leftPicturesFirstIMG,
.leftPicturesSecondIMG,
.leftPicturesThirdIMG {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8vw;
    height: 15vh;
    filter: brightness(20%);
    border-radius: 10px;
}



.rightDescription {
    width: 30%;
    position: relative;
}

.rightDescription p {
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.mainPicture {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    height: 100%;
    width: 35vw;
    cursor: zoom-in;
    background-repeat: no-repeat;
    background-position: center;
}


@keyframes flowout {
    from {
        top: -20rem;
    }

    to {
        top: 0;
    }
}

.productShowoutButton {
    border: 0;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .4rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    
}
.productShowoutButton h6{
    transition: all .2s;
}

.productShowoutButton h6:hover{
    background-color: rgb(35, 22, 207);
}



.productShowoutButton i,
.productShowoutButton h6 {
    height: 2.5rem;
    padding: .5rem 1rem;
}

.productShowoutButton i {
    background-color: rgb(255, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    font-size: 1.3rem;
}

.productShowoutButton h6 {
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    width: 100%;
}




footer {
    background-color: rgb(36, 36, 36);
    margin-bottom: -2rem;
}

.footerContent {
    padding: 2rem 0;
    display: flex;
    width: 70%;
    margin: 2rem auto;
    justify-content: space-between;
}

.footerContent h4 {
    color: white;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.footerContent h6 a {
    text-decoration: none;
    color: rgb(172, 172, 172);
}

.footerContactIcons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerContactIcons i {
    font-size: 2rem;
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.footerContactIcons i:hover {
    background-color: rgb(56, 56, 56);
}

@keyframes transitionInWindow {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width:1500px) {
    main {
        width: 98%;
    }
}

@media (max-width:1420px) {
    .footerContent {
        width: 95%;
    }
}

@media (max-width:1040px) {
    .footerContent {
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media (max-width:972px) {
    .footerContent {
        justify-content: center;
    }
}

@media (max-width:800px) {
    .carouselSlide {
        display: none;
    }
}

@media (max-width:650px) {
    .footerContent {
        justify-content: space-between;
    }
}