*{
    box-sizing: border-box;
    padding: 0 ;
    margin: 0 ;
}

:root{
    --mainColor: rgb(40,67,99)
}

header{
    background-color: var(--mainColor);
    display: flex;
    padding: 10px 100px;
    align-items: center;
}
.logo{
    display: flex;
    color: white;
    align-items: center;
}
.mainIcon{
    font-size: 2rem;
    color: white;
}
.searchbar {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 50px;
}
#search{
    width: 900px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.searchButton {
    position: absolute;
    top: 23%;
    right: 2%;
    font-size: 1.5rem;
    cursor: pointer;
}

.loginData{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    position: relative;
}
.person {
    font-size: 1.8rem;
    color: white;
}

.favourites{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    color: white;
    align-items: center;
    position: relative;
}
.heart{
    font-size: 1.5rem;

}

.cart{
    display: flex;
    gap: 10px;
    margin-left: 50px;
    color: white;
    align-items: center;
}

.shoppingcart{
    font-size: 1.5rem;
}
header h4{
    cursor: pointer;;
}

.arrowdown{
    font-size: .8rem;
    margin-bottom: -5px;
}


.LoginWindow{
    position: absolute;
    top: 110%;
    color: rgb(255, 255, 255);
    display: none;
    font-weight: bold;
    flex-direction: column;
    width: 280px;
    background-color: rgb(165, 165, 165);
    left: -10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
    animation: transitionInWindow .4s;
}


@keyframes transitionInWindow {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.arrowUp{
    text-align: center;
    font-size: 1.5rem;
    margin-top: -25px;
    color: rgb(165, 165, 165);
}

.login_window_Content{
    display: flex;
    margin-bottom: 10px;

}
.loginPerson{
    font-size: 2.1rem;
    margin-right: 15px;
}

.loginForm{
    display: flex;
    background-color: var(--mainColor);
    padding: 5px 10px;
    gap: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.loginDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 20px 20px 50px;
}

/* login utáni ablak */

.loginWindowAfter{
    position: absolute;
    top: 110%;
    color: rgb(255, 255, 255);
    display: none;
    font-weight: bold;
    flex-direction: column;
    width: 200px;
    background-color: rgb(165, 165, 165);
    left: 10%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
    animation: transitionInWindow .4s;
    text-align: center;
}

.afterLoginContent {
    display: flex;
    flex-direction: column;
}
.afterLoginContent h3{
    cursor: pointer;
    padding: 8px;
    transition: all .2s;
}
.logout{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.logout i{
    font-size: 20px;
}
.logout:hover{
    background-color: gray;
    border-radius: 20px;
}

.exceptTheLasth3:hover{
    background-color: gray;
    border-radius: 20px;
}


.favouritesWindow{
    position: absolute;
    top: 210%;
    color: rgb(255, 255, 255);
    display: none;
    font-weight: bold;
    flex-direction: column;
    width: 230px;
    background-color: rgb(165, 165, 165);
    left: -30%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
    animation: transitionInWindow .4s;
    text-align: center;
    font-size: 1rem;
}

.cart{
    position: relative;
}

.cartWindow{
    position: absolute;
    top: 210%;
    color: rgb(255, 255, 255);
    display: none;
    font-weight: bold;
    flex-direction: column;
    width: 200px;
    background-color: rgb(165, 165, 165);
    left: -50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px black;
    animation: transitionInWindow .4s;
    text-align: center;
    font-size: 1rem;  
}

.cartInclude{
    margin-top: 10px;
    display: flex;
    background-color: var(--mainColor);
    padding: 5px 10px;
    gap: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

